body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
  
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}
  
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    font-size: 1.5em;
}
  
.menu-icon {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}
  
.navbar {
    display: flex;
}
  
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
@media screen and (max-width: 800px) {
    .navbar {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      width: 100%;
    }
  
    .navbar.show {
      display: flex;
    }
  
    .navbar ul {
      flex-direction: column;
      align-items: flex-end;
    }
  
    .navbar li {
      margin: 10px 0;
    }
  
    .menu-icon {
      display: block;
    }
}
header {
    background-color: #373738;
    padding: 15px;
}
header ul {
    float: right;
    color: white;
}
header li {
    display: inline-block;
    padding: 0px 5px;
    font-size: 20px;
}
header p {
    display: inline-block;
}
header a {
    color: white;
}